<% if flash[:messages] != nil %>
  <%flash[:messages].each do |message|%>
    <b>!!!!----<%=message%>---!!!<br></b>
  <%end%>
<%end%>


<%= form_for(@user) do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Username</label><br>
  <%= f.text_field :username %><br>

  <label>Email</label><br>
  <%= f.email_field :email %><br><br>

  <% if !@user.routines.empty?%>
    <label>Routines:</label>
    <%= f.collection_check_boxes(:routine_ids, Routine.all, :id, :name)%>
    <br><br>
  <%end%>

  <%if @user.username == nil %>
    <label>Password</label><br>
    <%= f.password_field :password %><br><br>
  <%end%>

  <%= f.submit  %>
<% end %>
