<!DOCTYPE html>
<html>
  <head>
    <title>RoutineTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <br>


    <%if current_user%>
      ________________________________________________________________________
      <br>
      <%= link_to('log-out', logout_path) %> - - -
      <%= link_to('home', user_path(current_user)) %> - - -
      <%= link_to('edit my profile', edit_user_path(current_user)) %> - - -
      <%= link_to('my routines', user_routines_path(current_user)) %> - - -
      <%= link_to('all routines', routines_path) %> - - -
      <%= link_to('add a routine', new_user_routine_path(current_user)) %>
      <br>
      _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

      <br>
    <%end%>
  </body>
</html>
